<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" 
      type="image/png" 
      href="/assets/img/favicon.png">
	<title>{% if title %}{{ title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if excerpt %}{{ excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<!---TODO: PWA
	<link rel="manifest" href="site.webmanifest">
	-->
	<link rel="stylesheet" href="https://use.typekit.net/wnu7upt.css">
	<link rel="stylesheet" href= "assets/css/main.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.github.url | prepend: site.url }}">
	<meta name="theme-color" content="#fdfdfd">
</head>