<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    rel="icon"
    type="image/png"
    href="/assets/img/favicon.png">
  {% metagen meta %}
  <!---TODO: PWA
  <link rel="manifest" href="site.webmanifest">
  --><link rel="stylesheet" href="https://use.typekit.net/wnu7upt.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.title }}"
    href="{{ "/feed.xml" | prepend: site.url }}">
  {% if page.url == "/" %}
    <link
      rel="self"
      href="{{ site.url }}"
      type="text/html" />
    <link rel="feed" href="/archives" type="text/html" title="Bytes of Michael Bishop"/>
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">


  {% endif %}
  <link rel="webmention" href="https://webmention.io/michaelbishop.me/webmention" />
  <meta name="theme-color" content="#fdfdfd">

</head>