.recently-played li {
  list-style: none;
  flex: 1 1 33%;
  padding-block-end: 2em;
}

iframe[src*="youtube"],
iframe[src*="vimeo"] {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: var(--spacing-s);
}

.webmention {
  overflow: hidden; /* contain floated image */
  margin-block-end: 1.5em;
}

.webmention__meta img {
  float: left;
  border: 2px solid #fff;
  width: 96px;
  height: 96px;
  margin-inline-end: 1em;
}

.webmentions__facepile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25em;
  margin-block: 1em;
}

.webmentions__facepile h3 {
  width: 100%;
  margin-block-end: 0.5em;
}

.webmentions__facepile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 0;
}

.home-primary .card-avatar img {
  width: 100%;
  max-width: 280px;
  border-radius: 33%;
  aspect-ratio: 1;
  object-fit: cover;
}

.profile svg {
  height: 24px;
  width: 24px;
}
