body {
  background-color: var(--site-color-background);
  color: var(--site-color-textPrimary);
}

.mainheader {
  background-color: var(--yellow);
}

.mainnav {
  background-color: var(--site-color-background);
  border-bottom: 1px solid var(--yellow);
}

.colophon {
  background-color: var(--site-color-textPrimary);
  color: var(--site-color-background);
}

a {
    color: currentColor;
    text-decoration-color: var(--site-color-textDecoration);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
  }

  .pinned article {
    padding: .5em;
    border: 1px solid var(--light-gray);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }

  article img {
    border: 1em solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }