/*
    Header
*/

.mainheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.site-branding {
    display: grid; 
    grid-template-columns: repeat(8, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

.logo {
    grid-area: 1 / 1 / 3 / 3;
}

.site-branding h1 {
    grid-area: 1 / 3 / 2 / 9;
}

.tagline {
    grid-area: 2 / 3 / 3 / 9;
    align-self: start;
}

.mainnav {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
}

.mainnav a {
    padding: .5em;
}

@media (min-width: 900px) {
    .mainheader {
        flex-direction: row;
        justify-content: space-around;
    }

    .mainnav a {
        padding: .5em .8em;
    }
}
