/*
    Header
*/

.mainheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.mainnav ul {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.mainnav ul li {
    list-style-type: none;
}

.mainnav a {
    margin-right: .5em;
}

@media (min-width: 550px) {
    .mainheader {
        
    }

    .mainnav a {
        padding: .5em .8em;
    }
}
