
@import "remedy";
@import "grid";
@import "header";

:root {
   --very-dark-gray: #101b39;
   --dark-gray: #333136;
   --gray: #6f6d72;
   --light-gray: #b4b1b8;
   --very-light-gray: #e9e8ee;
   --yellow: #fecf48;
   --light-yellow: #FEEDB9;
}


html, body {
    max-width: 100% !important;
    overflow: auto;
 }
 
 body {
    background-color: var(--very-dark-gray);
    color: var(--very-light-gray);
    font-family: garamond-atf-micro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
 }

 a:link {
   color: var(--yellow);
 }

 a:visited {
   color: var(--light-yellow);
 }

.wrapper {
   margin: 0 4rem;
}
 .site-branding {
   text-align: center;
 }
 
 .site-branding h1 {
    font-family: bd-geminis,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1rem;
    font-size: 4rem;
 }

 .tagline {
   font-family: bd-geminis,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1rem;
    font-size: 2rem;
 }
 
 
 .content {
    width:fit-content;
    max-width: 99%;
    overflow: hidden;
 }
 