.site {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 15em 2fr 1fr;
    gap: 20px;
    min-height: 100vh;
}

.site > * {
    grid-column: col-start 1 / -1;
}

.mainheader {
    padding-block-start: 1em;
}

.site-branding {
    margin-inline: var(--single-col);
    padding-block-end: .5em;
    > * {
        display: inline-block;
    }
     p {
    margin:0;
    padding: 0;
    }
}

.mainnav {
    grid-column: col-start 1 / -1;
    padding-inline: var(--single-col);
    ul {
        margin: 0;
        padding-inline-start: 0;
        padding-block-start: .5em;
        padding-block-end: .5em;
    }
}

.content {  
    grid-row: 2 / 4;
    grid-column: col-start 2 / span 10;
    padding-block-start: 1em;
}

.meta {
    margin-block-end: 1.5em;
}

.lede {
    margin-block-start: 0;
}

.profiles p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.profiles li {
    padding-block: .5em;
}

.colophon {
    grid-column: col-start 1 / span 12;
    p {
        margin-inline: var(--single-col);
    }
}

.inner-grid {
    grid-column: col-start 1 / span -1;
    margin-inline: var(--single-col);
}

.archives article {
    margin-inline: 0;
}

.archives h1 {
   width: 100%; 
   grid-column: col-start 2 /  -1;
}

.container {
    container-type: inline-size;
  }

  @supports (grid-template-columns: subgrid) {
    
  }

  @media (min-width: 700px) {

    .site {
        grid-template-rows: 9em 2fr 1fr;
    }

    .mainnav ul li {
        margin: 0;
    }

    .content {
        grid-column: col-start 1 / span 12;
        margin-inline: var(--single-col);    
    }

    .post-date > * {
        display: inline-block;
    }

   

    @supports (grid-template-columns: subgrid) {

        .mainnav ul {
            grid-column: col-start 1 / span 1;
            display: grid;
            grid-template-columns: subgrid;
            grid-auto-flow: column;
        }
        .content {
            margin-inline: 0;
            display: grid;
        grid-template-columns: subgrid;

        article {
            margin-inline: 0;
        }
        }

        .inner-grid {
            grid-column: col-start 1 / -1;
            display: grid;
            grid-template-columns: subgrid;
        }

        .home-primary {
            .card-intro {
                grid-column: col-start 2 / span 5;
                grid-row: 1 / 2;
            }

            img {
                grid-column: col-start 7 / span 2;
            }

            .profiles {
                grid-column: col-start 10 / span 2;
            }
        }
        .single-post {

            header {
                grid-column: col-start 2 / -1;
            }
            .meta {
                grid-column: col-start 10 / span 3;
                grid-row: 2 / 3;
            }
    
            .content-wrap {
                grid-column: col-start 2/ span 7;
                grid-row: 2 / 3;
            }
        }

        .archives article {
            header {
                grid-column: col-start 4 / -1;
                grid-row: 1 / 1;

                h1 {
                    margin-block: 0;
                }
            }

            .meta {
                grid-column: col-start 2 / span 2;
                grid-row: 1 / span 2;
            }

            .content-wrap {
                grid-column: col-start 4 / -1;
                grid-row: 2 / 2;
            }
        }
        
    }
  }
  