body {
  font-family: garamond-atf-micro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--step-0);
  line-height: 1.75;
}

.site-branding {
  text-align: center;
}

.site-branding h1 {
  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1rem;
  font-size: var(--step-5);
}

.tagline {
  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1rem;
  font-size: var(--step-2);
}

h1, h2, h3 {
    line-height: 1.2;
}

:is(h1, h2, h3, blockquote) {
    --flow-space: 1.5em;
  }
  
  :is(h1, h2, h3) + * {
    --flow-space: 0.5em;
  }

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }