.recently-played {
  width: auto;
  display: flex;
  flex-flow: row wrap;
}

.recently-played li {
  list-style: none;
  flex: 1 1 33%;
  padding-block-end: 2em;
}

iframe[src*="youtube"],
iframe[src*="vimeo"] {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

a {
    color: var(--site-color-link);
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
  }

  .mainnav ul li {
    list-style: none;
  }

  .home-primary img {
    width: 50vw;
    height: auto;
  }

  .profiles ul {
    list-style: none;
  }


  .profile svg {
    height: 24px;
    width: 24px;
  }

  blockquote {
    border-left: 4px solid var(--yellow);
    padding-inline-start: 1em;
    margin-block-start: 0;
    margin-block-end: 0;  
  }

  blockquote p {
    margin-block-start: 0;
    margin-block-end: 0;  
  }
