:root {
  /* Colors */
  --black: #0E0A1F;
  --gray: #70798C;
  --light-gray: #F5F1ED;
  --orange: #E55934;
  --red: #D62828;
  --blue: #2D7DD2;
  --green: #606C38;
  --yellow: #FFB100;
  --site-color-background: var(--light-gray);
  --site-color-textPrimary: var(--black);
  --site-color-link: var(--blue);
  --site-color-textDecoration: var(--yellow);

  /* Type 
  https://moderncss.dev/container-query-units-and-fluid-typography/
  */
  --type-ratio: 1.33;
  --site-body-font-size: 1.3rem;
  --font-size-4: calc(var(--site-body-font-size) * var(--type-ratio));
  --font-size-3: calc(var(--font-size-4) * var(--type-ratio));
  --font-size-2: calc(var(--font-size-3) * var(--type-ratio));
  --font-size-1: calc(var(--font-size-2) * var(--type-ratio));
  /* https://github.com/system-fonts/modern-font-stacks */
  --site-font-family-body: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --site-font-family-heading: 'Nimbus Mono PS', 'Courier New', monospace;
  --site-line-height: 1.75;

/* utilities */

--single-col: calc(100vw / 12);
}

