:root {
  --very-dark-gray: #101b39;
  --dark-gray: #333136;
  --gray: #6f6d72;
  --light-gray: #b4b1b8;
  --very-light-gray: #e9e8ee;
  --yellow: #fecf48;
  --light-yellow: #feedb9;
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.41rem, calc(1.32rem + 0.45vw), 1.67rem);
  --step-2: clamp(1.76rem, calc(1.60rem + 0.81vw), 2.22rem);
  --step-3: clamp(2.20rem, calc(1.93rem + 1.33vw), 2.96rem);
  --step-4: clamp(2.75rem, calc(2.33rem + 2.09vw), 3.95rem);
  --step-5: clamp(3.43rem, calc(2.80rem + 3.18vw), 5.26rem);
}
