<!doctype html>
<html lang="{{ lang | default: site.lang | default: "en" }}">

  {% include "head.html" %}

  <body>
    <div class="site-container">
      <div class="site-grid">
      {% include "header.html" %}
      <main class="content h-feed">
        <div class="archives inner-grid">
          <h1>Archives</h1>
            {%- for post in collections.archivePosts -%}
              <article class="archive-entry h-entry">
                <div class="archive-date">
                  <time class="dt-published" datetime="{{ post.date | htmlDateString }}">
                    {{ post.date | readableDate: "MMM dd, yyyy" }}
                  </time>
                </div>
                
                <div class="archive-content">
                  {% if post.data.title %}
                    <h2 class="archive-title p-name">
                      <a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a>
                    </h2>
                    {% if post.data.excerpt %}
                      <p class="archive-excerpt p-summary">{{ post.data.excerpt }}</p>
                    {% endif %}
                  {% else %}
                    <div class="archive-note e-content">
                      {{ post.content }}
                      <a class="u-url" href="{{ post.url }}">∞</a>
                    </div>
                  {% endif %}
                </div>
              </article>
            {%- endfor -%}
        </div>
      </main>
      {% include "footer.html" %}
    </div>
  </div>
  </body>
</html>