<!doctype html>
<html lang="{{ lang or site.lang or 'en' }}">

    {% include "head.njk" %}

    <body>
        <div class="site-container">
            <div class="site-grid">
                {% include "header.njk" %}
                <main class="content">
                    <div class="archives h-feed">
                        <h1 class="p-name">Archives</h1>
                        {%- for post in posts -%}
                            {% set item = post %}
                            {% set itemBody = post.content | stripBridgyLinks | unfurlUrls %}
                            {% include "entry.njk" %}
                        {%- endfor -%}

                        {% if pagination.href.previous or pagination.href.next %}
                            <nav class="pagination" aria-label="Archive pagination">
                                <ul>
                                    {% if pagination.href.previous %}
                                        <li class="pagination__prev">
                                            <a href="{{ pagination.href.previous }}">← Newer</a>
                                        </li>
                                    {% endif %}

                                    <li class="pagination__info">
                                        Page
                                        {{ pagination.pageNumber + 1 }}
                                        of
                                        {{ pagination.pages.length }}
                                    </li>

                                    {% if pagination.href.next %}
                                        <li class="pagination__next">
                                            <a href="{{ pagination.href.next }}">Older →</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </main>
                {% include "footer.njk" %}
            </div>
        </div>
        {% getBundle "fontawesome" %}
    </body>
</html>