<!doctype html>
<html lang="{{ lang | default: site.lang | default: "en" }}">

  {% include "head.html" %}

  <body>
    <div class="site-container">
      <div class="site-grid">
      {% include "header.html" %}
      <main class="content h-feed">
        <div class="archives inner-grid">
          <h1>Archives</h1>
            {%- for post in collections.all reversed -%}
              <article class=" inner-grid h-entry">
                <header>
                  
                  
                      {% if post.data.title %}
                        <h2 class="p-name">
                        <a class="u-url" href="{{ post.url }}">
                      {{ post.data.title }}
                      </a>
                      </h2>
                      {% else %}
                      <a class="u-url" href="{{ post.url }}">
                      #
                      </a>
                      {% endif %}
                </header>
                <div class="meta">
                <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">
  {{ post.date | readableDate: "LLLL yyyy" }}
</time>
                </div>
          
          {% if post.data.excerpt %}
          <div class="content-wrap e-content fluid-type">
            <p class="p-summary">
          {{ post.data.excerpt }}
          </p>
          </div>
          {% endif %}
        </article>
            {%- endfor -%}

        </div>
      </main>
      {% include "footer.html" %}
    </div>
  </div>
  </body>
</html>