<!doctype html>
<html lang="{{ lang | default: site.lang | default: "en" }}">

  {% include "head.html" %}

  <body class="article">
    <div class="site-container">
      <div class="site-grid">
      {% include "header.html" %}
      <main class="content">
        <article class="h-entry single-post">

            <h1 class="p-name">{{ title }}</h1>
            

            <div class="meta">
              <time class="postlist-date" datetime="{{ page.date | htmlDateString }}">
                {{ page.date | readableDate: "LLLL dd yyyy" }}
              </time>
            </div>
          
          <div class="content-wrap e-content">
            
            {% if lede %}
            <p class="h3 lede p-summary e-bridgy-mastodon-content e-bridgy-bluesky-content">{{ lede }}</p>
            {% endif %}
            {{ content }}
            
            {%- comment -%}Add Bridgy syndication links if mp-syndicate-to is set{%- endcomment -%}
            {%- if mp-syndicate-to -%}
              {%- for target in mp-syndicate-to -%}
                {%- if target contains 'fed.brid.gy' -%}
                  <a class="u-bridgy-fed" href="https://fed.brid.gy/"></a>
                {%- elsif target contains 'brid.gy/publish/bluesky' -%}
                  <a class="u-bridgy" href="https://brid.gy/publish/bluesky"></a>
                {%- elsif target contains 'brid.gy/publish/mastodon' -%}
                  <a class="u-bridgy" href="https://brid.gy/publish/mastodon"></a>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </div>
        </article>
      </main>
      {% include "webmentions.html" %}
      {% include "footer.html" %}
    </div>
  </div>
  </body>
</html>