<!doctype html>
<html lang="{{ lang | default: site.lang | default: "en" }}">

  {% include "head.html" %}

  <body>
    <div class="site">
      {% include "header.html" %}
      <main class="content">
        <article class="h-entry">
          <header>
            <h1 class="p-name">{{ title }}</h1>
          </header>
            <div class="meta">
              <time datetime="{{ page.date }}" class="dt-time post-date">Posted on {{ page.date | date: "%a, %b %d, %Y" }} | Last Modified
                <span class="dt-updated">{{ modDate | date: "%a, %b %d, %Y" }}</span>
              </time>
            </div>
          
          <div class="content-wrap e-content fluid-type">
            <p class="h4 lede p-summary">{{ meta.desc }}</p>
            {{ content }}
          </div>
        </article>
      </main>

      {% include "footer.html" %}
    </div>
  </body>
</html>